# Angular
jobboard-ui/node_modules/
jobboard-ui/dist/
jobboard-ui/.angular/

# .NET
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

#Email credentials
**/appsettings.Development.json

# Uploaded resumes
**/Uploads/resumes/