# Angular
jobboard-ui/node_modules/
jobboard-ui/dist/
jobboard-ui/.angular/

# .NET Build Output
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# Local Development Secrets
**/appsettings.Development.json

# Publish Profiles (IMPORTANT)
**/Properties/PublishProfiles/

# Uploaded Files
**/Uploads/
!**/Uploads/.gitkeep

# Local Tools
**/dotnet-tools.
