<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

  <div class="container">

    <a class="navbar-brand">
      Job Board
    </a>

    <div class="navbar-nav">

      <a
        class="nav-link"
        routerLink="/jobs">

        Jobs

      </a>

      <a
        class="nav-link"
        routerLink="/my-applications">

        My Applications

      </a>

      <a
        class="nav-link"
        routerLink="/profile">

        Profile

      </a>

      <a
        class="nav-link"
        style="cursor:pointer"
        (click)="logout()">

        Logout

      </a>

    </div>

  </div>

</nav>